@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600&display=swap");
body {
  font-family: 'Source Code Pro', monospace;
  background-color: #313131;
  color: #ffffff;
  width: 100vw;
  -webkit-animation: start 0.5s ease;
          animation: start 0.5s ease;
}

button,
button:active,
button:focus {
  outline: none;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  display: none;
}

input[type='number'] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
  border: none;
  margin: 0.625rem 0;
  font-family: 'Source Code Pro', monospace;
  outline: none;
  padding: 0px 0.75rem;
  height: 2.625rem;
}

input:focus {
  background-color: #f7ffff;
}

.input-block {
  position: relative;
}

.input-block span {
  position: absolute;
  right: 0.75rem;
  bottom: 1.5rem;
  font-size: 0.8em;
  color: #2f707c;
}

h2 {
  text-align: center;
}

input[type='radio']:checked {
  background-color: #61a2ae;
  border: 1px solid #61a2ae;
}

input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 1.125rem;
  height: 1.125rem;
  border: 1px solid silver;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  cursor: pointer;
}

.title {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 5;
  padding: 20px 20px 0 20px;
}

.title h1 {
  font-size: 2.5rem;
  color: #61a2ae;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
}

.tile {
  padding: 1.25rem 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.tile.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.tile__dimensions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.padding {
  padding-bottom: 0.875rem;
}

.number-minus {
  border-radius: 50% 0 0 50%;
  left: -2.25rem;
}

.number-minus::before {
  content: '';
  background-color: #ffffff;
  width: 12px;
  height: 2px;
  position: absolute;
  left: 12px;
  top: calc(50% - 1px);
}

.number-plus {
  border-radius: 0 50% 50% 0;
  right: -2.25rem;
}

.number-plus::before {
  content: '';
  background-color: #ffffff;
  width: 12px;
  height: 2px;
  position: absolute;
  right: 12px;
  top: calc(50% - 1px);
}

.number-plus::after {
  content: '';
  background-color: #ffffff;
  width: 2px;
  height: 12px;
  position: absolute;
  right: 17px;
  top: calc(50% - 6px);
}

.number-minus,
.number-plus {
  font-size: 1.875rem;
  height: 2.625rem;
  border: none;
  width: 2.25rem;
  cursor: pointer;
  position: absolute;
  top: 0.625rem;
  background-color: #2f707c;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.number-minus:active,
.number-plus:active {
  background-color: #003e4a;
}

@media (hover: hover) and (pointer: fine) {
  .number-minus:hover,
  .number-plus:hover {
    background-color: #003e4a;
  }
}

.subtext {
  font-size: 0.8em;
  color: #b1f2fe;
  text-align: center;
}

@-webkit-keyframes start {
  from {
    opacity: 0.5;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes start {
  from {
    opacity: 0.5;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=style.css.map */